* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    background-color: $bg-color;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-arrows {
    display: flex;
    justify-content: space-between;
    margin-right: 2.7rem;
    margin-left: 2.7rem;
    }

    .nav-arrow {
        border: none;
        background: none;
    }