$white: #FFFFFF;
$bg-color: #F9F9F7;
$btn-color: #8DD3BB;
$btn-color-hover: #A8F0D7;
$btn-color2: #FB7756;
$btn-color2-hover: #DF6C4F;
$btn-color2-active: #D14836;
$discount-color2: #FF0000;
$star-color: #FF5722;
$text-color: #2E3B48;
$text-color2: #3D3D3D;
$text-color3: #484848;
$tours-location-color: #656262;
$tours-description-color: #6F7789;
$about-decoration-color: #717171;
$arrows-color: #2D3134;
$nav-link-active-color: #F98568;