
.hero {
    display: grid;
    height: 100vh;
    width: 100vw;
    background: url('../images/img/bg-image.jpg')  no-repeat;
    background-size: cover;

    &__content {
        display: grid;
        align-content: end;
        justify-content: center;
        &-heading{
            color: $white;
            font-size: 6.4rem;
            margin-bottom: 4.6rem;
            &__first {
                font-weight: 700;
                
            }
            &__second {
                position: relative;
                font-weight: 400;
                top: -9px;
                
               
               
            }
        }
    }

    &__btn {
        font-size: 2rem;
        padding: 1.7rem;
       // margin: 4rem;
        border-radius: 4.7rem;
        border: 4px solid #FFF;
        background: none;
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 6.17rem;

        &:hover {
            background-color: $btn-color2;
            border-color: $btn-color2;
        }
    }
    &__p {
        display: grid;
        justify-content: center; 
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 3.6rem;
        text-transform: capitalize;
        color: $white;
        opacity: 60%;
    }
}